@use '../../styles/mixins' as *;

$gap: 4px;

.tooltip {
  @include text(s);
  z-index: 9999;
  padding: 4px 8px;
  border-radius: 4px;
  position: absolute;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  max-width: 100%;
  width: max-content;
  pointer-events: none;
  display: inline-flex;
  flex-grow: 1;
  &_left, &_right, &_top, &_bottom {
    opacity: 0;
    transition: opacity 200ms;
  }
  &_left, &_right {
    top: 50%;
    transform: translateY(-50%);
  }
  &_top, &_bottom {
    left: 50%;
    transform: translateX(-50%);
  }
  &_left {
    right: calc(100% + $gap);
  }
  &_right {
    left: calc(100% + $gap);
  }
  &_top {
    bottom: calc(100% + $gap);
  }
  &_bottom {
    top: calc(100% + $gap);
  }
  &__trigger {
    position: relative;
    &:hover .tooltip_left,
    &:hover .tooltip_right,
    &:hover .tooltip_top,
    &:hover .tooltip_bottom {
      opacity: 1;
    }
  }
}


