@use '../../styles/mixins' as *;

.tooltip {
  @include text(s);
  padding: 4px 8px;
  border-radius: 4px;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  max-width: 25vw;
  width: max-content;
  pointer-events: none;
  display: inline-flex;
  flex-grow: 1;
}

.enter-from,
.leave-to {
  opacity: 0;
}

.enter-to,
.leave-from {
  opacity: 1;
  transform: translate(0, 0);
}

.enter-active,
.leave-active {
  transition: opacity 300ms ease, transform 300ms ease;
  will-change: opacity, transform;
}

.dir-top.enter-from,
.dir-top.leave-to {
  transform: translateY(6px);      // tooltip сверху, выезжает снизу
}

.dir-bottom.enter-from,
.dir-bottom.leave-to {
  transform: translateY(-6px);     // tooltip снизу, выезжает сверху
}

.dir-left.enter-from,
.dir-left.leave-to {
  transform: translateX(6px);      // tooltip слева, выезжает справа
}

.dir-right.enter-from,
.dir-right.leave-to {
  transform: translateX(-6px);     // tooltip справа, выезжает слева
}
