@use '../../styles/mixins' as *;

.btn {
  @include text(m);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  height: 32px;
  width: fit-content;
  padding: 0 12px;
  transition: all 150ms;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  &_primary {
    background-color: var(--bg-action);
    color: var(--text-button);
    stroke: var(--graphic-button);
    &:hover {
      background-color: var(--bg-hover);
    }
    &:active {
      background-color: var(--bg-active);
    }
    &:disabled {
      color: var(--text-disable);
      background-color: var(--bg-disable);
      cursor: not-allowed;
      stroke: var(--graphic-disable);
    }
  }
  &_secondary {
    border-color: var(--border-button);
    color: var(--text-primary);
    stroke: var(--graphic-primary);
    &:hover {
      border-color: var(--border-button-hover);
    }
    &:active {
      border-color: var(--border-button-active);
    }
    &:disabled {
      border-color: var(--border-disable);
      color: var(--text-disable);
      cursor: not-allowed;
      stroke: var(--graphic-disable);
    }
  }
  &_tertiary {
    stroke: var(--graphic-primary);
    color: var(--text-primary);
    &:hover {
      border-color: var(--border-button-hover);
    }
    &:active {
      border-color: var(--border-button-active);
    }
    &:disabled {
      border-color: transparent;
      color: var(--text-disable);
      cursor: not-allowed;
      stroke: var(--graphic-disable);
    }
  }
  &_negative {
    stroke: var(--graphic-negative);
    color: var(--text-negative);
    &:hover {
      border-color: var(--border-negative);
    }
    &:active {
      border-color: var(--border-negative-secondary);
    }
    &:disabled {
      border-color: transparent;
      stroke: var(--graphic-disable);
      cursor: not-allowed;
      color: var(--text-disable);
    }
  }
  &__icon {
    height: 16px;
    width: 16px;
  }
}
