@use 'primitives' as *;

$map: (
  bg-positive: $green-600,
  bg-positive-secondary: $green-950,
  bg-warning: $yellow-500,
  bg-warning-secondary: $yellow-950,
  bg-negative: $red-400,
  bg-negative-secondary: $red-950,
  bg-base: $gray-950,
  bg-primary: $gray-900,
  bg-secondary: $gray-800,
  bg-action: $violet-600,
  bg-action-secondary: $gray-700,
  bg-action-tertiary: $gray-50,
  bg-hover: $violet-700,
  bg-active: $violet-800,
  bg-disable: $gray-850,

  text-primary: $gray-50,
  text-secondary: $gray-500,
  text-disable: $gray-700,
  text-action: $violet-400,
  text-positive: $green-600,
  text-warning: $yellow-500,
  text-negative: $red-400,
  text-button: $gray-50,

  graphic-primary: $gray-50,
  graphic-secondary: $gray-700,
  graphic-disable: $gray-700,
  graphic-button: $gray-50,
  graphic-positive: $green-600,
  graphic-warning: $yellow-500,
  graphic-negative: $red-400,

  border-default: $gray-700,
  border-hover: $violet-600,
  border-active: $violet-500,
  border-disable: $gray-850,
  border-negative: $red-500,
  border-negative-secondary: $red-950,
  border-button: $violet-600,
  border-button-hover: $violet-700,
  border-button-active: $violet-800,
);
