@use 'primitives' as *;

$map: (
  bg-positive: $green-500,
  bg-positive-secondary: $green-50,
  bg-warning: $yellow-600,
  bg-warning-secondary: $yellow-50,
  bg-negative: $red-500,
  bg-negative-secondary: $red-50,
  bg-base: $gray-0,
  bg-primary: $gray-50,
  bg-secondary: $gray-150,
  bg-action: $violet-600,
  bg-action-secondary: $gray-300,
  bg-action-tertiary: $gray-50,
  bg-hover: $violet-500,
  bg-active: $violet-400,
  bg-disable: $gray-100,

  text-primary: $gray-900,
  text-secondary: $gray-500,
  text-disable: $gray-300,
  text-action: $violet-800,
  text-positive: $green-500,
  text-warning: $yellow-800,
  text-negative: $red-500,
  text-button: $gray-50,

  graphic-primary: $gray-900,
  graphic-secondary: $gray-300,
  graphic-disable: $gray-300,
  graphic-button: $gray-50,
  graphic-positive: $green-500,
  graphic-warning: $yellow-800,
  graphic-negative: $red-500,

  border-default: $gray-200,
  border-hover: $violet-200,
  border-active: $violet-500,
  border-disable: $gray-300,
  border-negative: $red-400,
  border-negative-secondary: $red-50,
  border-button: $violet-600,
  border-button-hover: $violet-400,
  border-button-active: $violet-300,
);
