$violet-50: #F7F3FF;
$violet-100: #F1E9FE;
$violet-200: #E5D6FE;
$violet-300: #D0B5FD;
$violet-400: #B48BFA;
$violet-500: #955CF6;
$violet-600: #7C3AED;
$violet-700: #6928D9;
$violet-800: #5821B6;
$violet-900: #491D95;
$violet-950: #2F1065;

$gray-0: #FFFFFF;
$gray-50: #F4F4F5;
$gray-100: #EAE9EC;
$gray-150: #DFDDE2;
$gray-200: #D4D2D8;
$gray-300: #BFBCC5;
$gray-400: #A9A5B1;
$gray-500: #948F9E;
$gray-600: #77737F;
$gray-700: #5A5760;
$gray-800: #3D3A41;
$gray-850: #2F2C32;
$gray-900: #201E22;
$gray-950: #121013;
$gray-1000: #030203;

$green-50: #EEFFEE;
$green-500: #00C012;
$green-600: #00B735;
$green-950: #24452C;

$yellow-50: #FFFFE7;
$yellow-500: #FAD100;
$yellow-600: #F1C600;
$yellow-800: #AB800A;
$yellow-950: #5D4923;

$red-50: #EDD4D3;
$red-400: #FF3D3E;
$red-500: #FF0D00;
$red-950: #5C262F;

$font-family-main: "Nunito", sans-serif;

$font-weight-regular: 400;
$font-weight-bold: 600;

$font-size-h1: 60px;
$font-size-h2: 48px;
$font-size-h3: 40px;
$font-size-h4: 32px;
$font-size-h5: 24px;
$font-size-l: 20px;
$font-size-m: 16px;
$font-size-s: 13px;
$font-size-xs: 10px;

$line-height-h1: 60px;
$line-height-h2: 48px;
$line-height-h3: 40px;
$line-height-h4: 32px;
$line-height-h5: 32px;
$line-height-l: 28px;
$line-height-m: 16px;
$line-height-s: 16px;
$line-height-xs: 12px;
