$violet-50: #f7f3ff;
$violet-100: #f1e9fe;
$violet-200: #e5d6fe;
$violet-300: #d0b5fd;
$violet-400: #b48bfa;
$violet-500: #955cf6;
$violet-600: #7c3aed;
$violet-700: #6928d9;
$violet-800: #5821b6;
$violet-900: #491d95;
$violet-950: #2f1065;

$gray-0: #ffffff;
$gray-50: #f4f4f5;
$gray-100: #eae9ec;
$gray-150: #dfdde2;
$gray-200: #d4d2d8;
$gray-300: #bfbcc5;
$gray-400: #a9a5b1;
$gray-500: #948f9e;
$gray-600: #77737f;
$gray-700: #5a5760;
$gray-800: #3d3a41;
$gray-850: #2f2c32;
$gray-900: #201e22;
$gray-950: #121013;
$gray-1000: #030203;

$green-50: #eeffee;
$green-500: #00c012;
$green-600: #00b735;
$green-950: #24452c;

$yellow-50: #ffffe7;
$yellow-500: #fad100;
$yellow-600: #f1c600;
$yellow-800: #ab800a;
$yellow-950: #5d4923;

$red-50: #fff3f0;
$red-400: #ff3d3e;
$red-500: #ff0d00;
$red-950: #5c262f;

$font-family-main: 'Nunito', sans-serif;

$font-weight-regular: 400;
$font-weight-bold: 600;

$font-size-h1: 60px;
$font-size-h2: 48px;
$font-size-h3: 40px;
$font-size-h4: 32px;
$font-size-h5: 24px;
$font-size-l: 20px;
$font-size-m: 16px;
$font-size-s: 13px;
$font-size-xs: 10px;

$line-height-h1: 60px;
$line-height-h2: 48px;
$line-height-h3: 40px;
$line-height-h4: 32px;
$line-height-h5: 32px;
$line-height-l: 28px;
$line-height-m: 16px;
$line-height-s: 16px;
$line-height-xs: 12px;
